.proj-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    .icon-image {
        margin: 10px;
        margin-bottom: 0px;
        width: 400px;

    }

    .content {
        .title {
            margin: 10px;
        }

        .paragraph {
            margin: 10px;
        }
    }
}