.work-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-flow: column wrap;
    overflow: hidden;


    .head-title {
        font-size: 50px;
        text-align: center;

    }
}