.proj-item {
    margin: 10px;
    padding: 25px;

    a {
        width: 300px;
    }

    .icon-image {
        margin-bottom: 0px;
        width: 300px;

        &:hover {
            transform: scale(1.2);
            transition: transform 2s;
        }
    }

    .content {
        .title {
            margin: 10px;
        }

        .paragraph {
            margin: 10px;
            text-align: justify;
            width: 300px;

        }
    }
}