.site-item {
    margin: 20px 25px;

    &:hover {
        transform: scale(2);
        transition: transform 1s;
    }

    .icon-image {
        height: 40px;

    }

    .content {
        height: 10px;

    }
}