.about-item {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;

    .image-content {
        height: 400px;
        width: 100%;
        object-fit: cover;
        overflow-wrap: normal;
        align-self: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .content {
        text-align: left;
        padding: 25px;
        background-color: blue;

        .about-title {
            text-align: left;

        }

        .about-me {}

        .resume-icon {
            text-align: center;
        }
    }
}