.header {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    background-color: black;

    .name {
        padding: 10px 100px;
        font-size: large;
        white-space: nowrap;
    }
}