body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Roboto Mono", monospace;
  white-space: pre-line;
  vertical-align: bottom;

}

a {
  text-decoration: none;
  color: whitesmoke;
}

* {
  box-sizing: border-box;
}